@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}
